/* LINK TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&family=Inter:wght@400;700&display=swap');

@import url("https://use.typekit.net/hpv8rxq.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEMAS DE COLOR */
.theme-blue {
    background-color: var(--blue);
}

.theme-orange {
    background-color: var(--orange);
}

/* CURSOR */
html {
    cursor: url("../img/cursor.png") , auto;
}

html:active {
    cursor: url("../img/cursor_click.png"), auto;
}

a:hover {
    cursor: url("../img/cursor_click.png"), pointer;
}

/* Cursor -> palabra */
.custom-cursor {
    font: var(--cursor-text);
    position: fixed;
    pointer-events: none;
    color: var(--black);
    background-color: var(--blue);
    border: var(--border);
    padding: 0.3rem 0.6rem;
    z-index: 9999;
    transform: translate(-50%, -50%);
    display: none;
    white-space: nowrap;
}



:root {
    --h1: 900 8rem "Fraunces", serif;
    --h2: 400 3rem "highest-praise", sans-serif;
    --h3: 1.5rem "Inter", sans serif;
    --text: 300 1.3rem "Inter", sans serif;
    --italic: italic 700 1.3rem "Inter", sans-serif;
    --cursor-text: 900 1rem "Fraunces", serif;
    --temp: 300 1rem "Inter", sans serif;
    --number: 400 5rem "highest-praise", sans-serif;
    --col: 300 1.3rem "Inter", sans serif;
    --black:#0a0908;
    --orange: #ff8811;
    --blue: #0080c9;
    --inter:inter, sans serif; 
    --fraunces: fraunces, serif;
    --padding-text: 10rem 10rem 6rem 10rem;
    --border: 1px solid var(--black);
    --transition: 0.2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    background-color: inherit;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    border: 1px solid var(--black);
}
 
.menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 2rem;
}
  
.logo-menu a {
    font-family: var(--fraunces);  
    text-decoration: none; 
    font-weight: bold;
    font-size: 2rem;
    color: var(--black); 

}

nav .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .menu-right {
    display: flex;
    align-items: center;
}

.lang-btn {
    height: 70px;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.lang-btn:hover {
    background: var(--blue);
}

.lang-btn {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    background-color: var(--blue);
    border: var(--border);
    color: var(--black);
    padding: 0.4rem 2rem ;
    cursor: pointer;
    transition: var(--transition);
}

.lang-btn:hover {
    background-color: var(--orange);
}

.right-block {
    display: flex;
    height: 100%;
}
  
/* MENÚ */
.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
  
.menu a {
    color: var(--black);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.menu-right li {
    display: flex;
    align-items: center;
}

nav.menu-open .menu-left,
nav.menu-open .menu-right {
    display: flex;
    flex-direction: column;
}
  
/* BURGER */
  .burger {
    font-size: 2rem;
    color: var(--black);
    display: none;
    cursor: pointer;
}

/* HEADER */
header {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;

    background-image: url("../img/ilustracion.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 70px;
    width: 100%;
    max-width: 100vw;
    height: calc(100vh - 70px);
    background-position: center bottom;

}

#home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.header-title {
    display: block;
    position: relative; 
    text-align: center;
    max-width: 100%;  
}

h1 {
    font: var(--h1);
    margin: 0;
}

.header-title > h2 {
    font: var(--h2);
    display: inline-block;
    transform: rotate(-6deg);
}

.h2-lugares {
    margin-left: 360px;
}

.h2-clima {
    margin-left: 160px;
}

.h2-alc {
    margin-left: 200px;
}

.h2-location {
    margin-left: 670px;
}

/* FOOTER */
#footer {
    border: var(--border);
    padding: 2rem 6rem; 
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    font-size: 0.8rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
    text-decoration: underline;
}

.footer-left .politics {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}
  
.footer-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: var(--black);
}

.footer-right .social {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 1.5rem;
}

.footer-right .social i {
    color: var(--black);
}

.footer-top .copyright {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

/* LOCALIZACIÓN */
#location {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}

.img-left {
    flex: 1;
}

.img-left img {
    width: 100%;
    height: auto;
    display: block;
}

.cont-info {
    display: flex;
    gap: 2rem;
    padding: 5rem;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 auto;
}

.text-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-right .text-info {
    font-family: var(--inter);
    font-size: 1rem;
    line-height: 1.5;
}

.list-alc {
    display: flex;
    justify-content: center; 
    gap: 2rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.text-right .list-alc {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 1rem;
}

.text-right .list-alc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 1rem;
}

.text-right .list-alc ol {
    flex: 0 1 48%;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
    text-align: left;
}

.list-alc ol {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}

.list-alc ol li {
    margin-bottom: 0.5rem;
}

.col1,
.col2 {
    font: var(--col);
}

.col1 a,
.col2 a {
    color: var(--black);
    transition: var(--transition);
}

.col1 a:hover,
.col2 a:hover {
    color: var(--black);
    font-weight: 700;
}

/* CLIMA */
#clima {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
    text-align: center;
}

.text-info p {
    padding: 4rem 6rem 2rem 6rem;
    font: var(--text);
}

.text-info .p2 {
    padding: 0 6rem 4rem 6rem;
}

.text-info em {
    font: var(--italic);
}

#clima .btn a {
    display: inline-block;
    margin: 0 auto;
}

.btn {
    padding-bottom: 2rem;
}

.btn a {
    text-decoration: none;
    font-family: var(--fraunces);
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--black);
    border: var(--border);
    padding: 1rem 2rem;
}

.separar {
    max-width: 800px;
    margin: 0 auto; 
    padding-bottom: 6rem;
}

/* GRÁFICA CLIMA */
#graphic {
    width: 100% !important;
    max-width: 800px;
    height: 400px !important;
    display: block;
    margin: 0 auto;   
}

#actual {
    font: var(--temp);
    margin: 2rem 0 4rem 0;
    text-align: center;
}

#actual .temp-number {
    font: var(--number);
    color: var(--black);
    display: block;
}

#actual .temp-label {
    font: var(--temp);
    color: var(--black);
    margin-top: 0.5rem;
    display: block;
}

/* LUGARES */
#lugares {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}

.img-cont img {
    max-height: 300px;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 4rem 0;
    padding: 0 10rem;
    font: var(--h3);
    gap: 1.5rem;
}

.galeria:nth-child(even) {
    align-items: flex-end;
}

.galeria a {
    display: inline-block;
    max-width: 700px;
    width: 100%;
}

.galeria a img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    border: var(--border);
}

.galeria:nth-child(2) img,
.galeria:nth-child(4) img {
    margin-left: auto;
}

.img-cont .galeria img {
    filter: grayscale(100%);
    transition: var(--transition);
}

.img-cont .galeria img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* CURIOSIDADES */
#curiosity {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}

/* MEDIA QUERIA 1050PX */
@media screen and (max-width: 1050px) {
    h1 {
        font-size: 6rem;
    }

    .header-title .size {
        font-size: 2.5rem;
    }

    .header-title .h2-location {
        margin-left: 470px;
    }

    .header-title .h2-alc {
        margin-left: 110px;
    }

    .header-title .h2-lugares {
        margin-left: 250px;
    }

    .header-title .h2-clima {
        margin-left: 100px;
    }
}

/* MEDIA QUERIA 900PX */
@media screen and (max-width: 900px) {
    .text-info p {
        padding: 8rem 3rem 3rem 3rem;
    } 

    .text-info .p2 {
        padding: 0rem 3rem 3rem 3rem;
    }

    .cont-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
    }

    .header-title .h2-lugares {
        margin-left: 250px;
    }

}

/* MEDIA QUERIA 800PX */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 5rem;
    }

    .header-title .size {
        font-size: 2rem;
    }

    .header-title .h2-location {
        margin-left: 400px;
    }

    .header-title .h2-lugares {
        margin-left: 220px;
    }
}

/* MEDIA QUERIA 780PX */
@media screen and (max-width: 780px) {
    /* LUGARES */
    .galeria {
        padding: 0 2rem;
        align-items: center !important;
        text-align: center;
    }

    .galeria a img {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .galeria:nth-child(even),
    .galeria:nth-child(odd) {
        align-items: center !important;
    }

    .galeria h3 {
        font-size: 2rem;
    }

    .text-info p {
        padding: 8rem 1.5rem 1.5rem 1.5rem;
    }

    .text-info .p2 {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .text-info p,
    .text-info .p2 {
        font-size: 1.3rem;
    }
}



/* MEDIA QUERIA 678PX */
@media screen and (max-width: 678px) {

    /* MENÚ */
    .menu-container {
        padding: 0;
    } 

    .menu-left,
    .menu-right {
        display: none !important;
    }

    .burger {
        display: block;
    }

    nav.menu-open .menu-container {
        background-color: var(--blue);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 70px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border: var(--border);
        z-index: 1000;
    }

    nav.menu-open .menu-left,
    nav.menu-open .menu-right,
    nav.menu-open #lang-toggle {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    nav.menu-open .menu a {
        color: var(--black) !important; 
        font-size: 2rem;
        text-decoration: none;
    }  

   nav.menu-open #lang-toggle {
        display: block !important;
        width: 100vw;          
        margin: 0;            
        padding: 1rem 0;       
        text-align: center;
        box-sizing: border-box;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--orange);
        color: var(--black);
        left: 0;                 
    }

    nav.menu-open .menu-right li {
        display: flex;    
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0; 
    }

    nav.menu-open .menu-right {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 0;
        width: 100%;               
    }

    .logo-menu,
    .burger {
        position: absolute;
        top: 15px;
        left: 20px;
    }

    /* HEADER */
    h1 {
        font-size: 4rem;
    }

    .header-title .size {
        font-size: 2rem;
    }

    .header-title .h2-lugares {
        margin-left: 140px;
    }

    .header-title .h2-clima {
        margin-left: 40px;
    }

    .header-title .h2-alc {
        margin-left: 100px;
    }

    .header-title .h2-location {
        margin-left: 330px;
    }

    .galeria h3 {
        font-size: 1.8rem;
    }

    .text-info p,
    .text-info .p2 {
        font-size: 1.1rem;
    }

    .text-info p,
    .text-info .p2 {
        padding: 6rem 1.5rem 1.5rem 1.5rem;
    }

    .text-info .p2 {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    header {
        background-image: url("../img/ilustracion_small.png");
        width: 100%;
        height: calc(100vh - 70px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }


    /* FOOTER */
    #footer {
        width: 100%;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        text-align: center;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        flex: unset;
    }

    .footer-left .politics {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-right .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: auto !important;
        margin: 0;
        margin-top: 1.5rem;
    }

    .footer-top .copyright {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
    }  

    #clima {
        padding: 1rem 0;
    }

    .text-info p {
        padding: 1rem 1.5rem;
    }

    .text-info .p2 {
        padding: 0.5rem 1.5rem;
    }
}

/* MEDIA QUERIA 550PX */
@media screen and (max-width: 550px) {
    h1 {
        font-size: 4rem;
    }

    .header-title .size {
        font-size: 2rem;
    }

    .header-title .h2-location {
        margin-left: 47px;
    }
}