/* LINK TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&family=Inter:wght@400;700&display=swap');

@import url("https://use.typekit.net/hpv8rxq.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEMAS DE COLOR */
.theme-blue {
    background-color: var(--blue);
}

.theme-orange {
    background-color: var(--orange);
}

:root {
    --h1: 900 8rem "Fraunces", serif;
    --h2: 400 3rem "highest-praise", sans-serif;
    --h3: 1.5rem "Inter", sans serif;
    --text: 1.3rem "Inter", sans serif;
    --black:#0a0908;
    --orange: #ff8811;
    --blue: #0080c9;
    --inter:inter, sans serif; 
    --fraunces: fraunces, serif;
    --padding-text: 10rem 10rem 6rem 10rem;
    --border: 1px solid var(--black);
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    background-color: inherit;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    border: 1px solid var(--black);
}
 
.menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
  
.logo-menu a {
    font-family: var(--fraunces);  
    text-decoration: none; 
    font-weight: bold;
    font-size: 2rem;
    color: var(--black); 

}
  
/* MENÚ */
.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
  
.menu a {
    color: var(--black);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    transition: color 0.3s;
}

  
/* BURGER */
  .burger {
    font-size: 2rem;
    color: var(--black);
    display: none;
    cursor: pointer;
}

/* HEADER */
header {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}

#home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.header-title {
    display: block;
    position: relative; 
    text-align: center;
    max-width: 100%;  
}

h1 {
    font: var(--h1);
    margin: 0;
}

.header-title > h2 {
    font: var(--h2);
    position: absolute;
    margin-top: 2rem;
    display: inline-block;
    transform-origin: 0 0;
    transform: rotate(-6deg);

}

.img-header {
    width: 100%;
    overflow: hidden;
}

.img-header img {
    width: 100%;
    height: auto;
    display: block;
}

.h2-clima {
    margin-left: 115px;
}

/* FOOTER */
#footer {
    border: var(--border);
    padding: 2rem 6rem; 
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    font-size: 0.8rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
    text-decoration: underline;
}

.footer-left .politics {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}
  
.footer-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: var(--black);

}

.footer-right .social {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 1.5rem;
}

.footer-right .social i {
    color: var(--black);
}

.footer-top .copyright {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

/* LOCALIZACIÓN */
#location {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}

.cont-info {
    display: flex;
    gap: 2rem;
    padding: var(--padding-text);
    justify-content: center;
    align-items: flex-start;
}

.img-left {
    flex: 1;
}

.img-left img {
    width: 100%;
    height: auto;
    display: block;
}

.text-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-right .description {
    font-family: var(--inter);
    font-size: 1rem;
    line-height: 1.5;
}

.text-right .list-alc {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 1rem;
}

.text-right .list-alc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 1rem;
}


.text-right .list-alc ol li {
    margin-bottom: 0.5rem;
    font-family: var(--fraunces);
    font-size: 0.95rem;
}

.text-right .list-alc ol {
    flex: 0 1 48%;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
    text-align: left;
}

.list-alc ol {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

.list-alc ol li {
    margin-bottom: 0.5rem;
}








/* CLIMA */
#clima {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}

.text-info p {
    padding: var(--padding-text);
    font: var(--text);
}

.btn a {
    text-decoration: none;
    font-family: var(--fraunces);
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--black);
    border: var(--border);
    padding: 1.5rem 2rem;
}


/* LUGARES */
#lugares {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}


.img-cont img {
    max-height: 300px;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 4rem 0;
    padding: 0 10rem;
    font: var(--h3);
    gap: 1.5rem;
}

.galeria:nth-child(even) {
    align-items: flex-end;
}

.galeria a {
    display: inline-block;
    max-width: 700px;
    width: 100%;
}

.galeria a img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    border: var(--border);
}

.galeria:nth-child(2) img,
.galeria:nth-child(4) img {
    margin-left: auto;
}


/* CURIOSIDADES */
#curiosity {
    text-align: center;
    position: relative;
    padding: 5rem 0 0 0;
    scroll-margin-top: 70px;
}


/* MEDIA QUERIES */

/* TEXTOS ESCALADOS */
/* @media (max-width: 900px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p, .text-info, .galeria h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p, .text-info, .galeria h3 {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    p, .galeria h3 {
        font-size: 0.9rem;
    }
} */


/* MEDIA QUERIA 900PX */
@media screen and (max-width: 900px) {
    .text-info p {
        padding: 8rem 3rem 3rem 3rem;
    } 
}

/* MEDIA QUERIA 780PX */
@media screen and (max-width: 780px) {
    /* LUGARES */
    .galeria {
        padding: 0 2rem;
        align-items: center !important;
        text-align: center;
    }

    .galeria a img {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .galeria:nth-child(even),
    .galeria:nth-child(odd) {
        align-items: center !important;
    }

    .galeria h3 {
        font-size: 2rem;
    }

    .text-info p {
        padding: 8rem 1.5rem 1.5rem 1.5rem;
        font-size: 1.3rem;
    }
}



/* MEDIA QUERIA 678PX */
@media screen and (max-width: 678px) {

    /* MENÚ */
    .menu-left,
    .menu-right {
        display: none;
    }

    .burger {
        display: block;
    }

    .menu-container {
        justify-content: space-between;
    } 

    nav.menu-open .menu-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 70px;
        background-color: inherit;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border: var(--border);

    }

    nav.menu-open .menu-left,
    nav.menu-open .menu-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    .logo-menu {
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .burger {
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 1001;
    }

    nav.menu-open .logo-menu {
        display: block;
    }

    nav.menu-open .menu a {
        font-size: 2rem;
    }

    nav .menu a[href="#entradas"].btn {
        display: block !important;
        width: 100%;
        text-align: center;
        font-size: 2rem !important;
        padding: 1rem 0 !important;
    }

    /* HEADER */
    h1 {
        font-size: 4rem;
    }

    .header-title .h2-clima {
        font-size: 2.2rem;
        margin-left: 10px;
    }

    .galeria h3 {
        font-size: 1.8rem;
    }

    .text-info p {
        padding: 8rem 1.5rem 1.5rem 1.5rem;
        font-size: 1.3rem;
    }



    /* FOOTER */
    #footer {
        width: 100%;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        text-align: center;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        flex: unset;
    }

    .footer-left .politics {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-right .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: auto !important;
        margin: 0;
        margin-top: 1.5rem;
    }

    .footer-top .copyright {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
    }
}

/* MEDIA QUERIA 400PX */
@media screen and (max-width: 400px) {
    .galeria h3 {
        font-size: 1.5rem;
    }

    .text-info p {
        padding: 8rem 1.5rem 1.5rem 1.5rem;
        font-size: 1.1rem;
    } 
}